<h1>URL_Shortener</h1>

<form action="/" method="POST">
  <input type="text" placeholder="Key in web address" name='address'>
  <button type="submit">Shorten URL</button>
</form>


<div class="alert text-white bg-dark font-weight-bolder mt-2" role="alert">
  <h6>{{url.address}} </h6>
  <h2>{{url.shortAddress}}</h2>
</div>